<style>
    .quick-view {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        background-color: #29333F;
        z-index: 9;
        visibility: hidden;
        opacity: 0;
    }

    .quick-view__container {
        width: 1209px;
        height: 592px;
        background-color: #FFFFFF;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid #E8EAED;
        display: grid;
        grid-template-columns: 595px 614px;
        overflow: hidden;
    }

    .quick-view__image {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: 100%;
        height: 100%;
    }

    .quick-view__info {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        flex-direction: column;
        justify-content: space-around;
        padding: 48px 56px 0 56px;
    }

    .quick-view__vendor {
        font-style: italic;
        font-weight: 300;
        font-size: 19px;
        line-height: 24px;
        color: #565E68;
    }

    .quick-view__sku {
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #A6ACB3;
        margin: 0;
    }

    .quick-view__price {
        font-style: italic;
        font-weight: 300;
        font-size: 25px;
        line-height: 31px;
        color: #565E68;
    }

    .quick-view__title {
        font-style: italic;
        font-weight: 300;
        font-size: 31px;
        line-height: 39px;
        color: #29333F;
    }

    .quick-view__description {
        font-style: italic;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: #565E68;
        padding-right: 20px;
    }

    .quick-view__line {
        width: 100%;
    }

    .quick-view__options {
        display: flex;
        justify-content: space-between;
        margin-top: 17px;
    }

    .quick-view__buy-button {
        width: 362px;
        height: 44px;
        background: #29333F;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }

    .quantity-selector {
        width: 133px;
        height: 45px;
        display: grid;
        grid-template-columns: calc(133px / 3) calc(133px / 3) calc(133px / 3);
    }

    .quantity-selector__button {
        background-color: #F2F5FA;
        border: 1px solid #E6E9ED;
    }

    .quantity-selector__input {
        border: 1px solid #E6E9ED;
        text-align: center;
    }

    .quick-view__close {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: flex-start;
        justify-self: flex-end;
        width: 30px;
        font-size: 20px;
        font-weight: bold;
        background-color: transparent;
        border: none;
        color: #29333F;
        z-index: 99;
    }

    @media only screen and (max-device-width : 1360px) {
        .quick-view__container {
            width: 320px;
            height: 400px;
            display: grid;
            grid-template-rows: 160px 240px;
            grid-template-columns: 160px 160px;
        }

        .quick-view__image {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .quick-view__info {
            grid-row: 1 / 3;
            grid-column: 1 / 3;
            padding: 0;
            display: grid;
            grid-template-columns: 160px 160px;
            grid-template-rows: 30px 30px 40px 60px auto auto auto;
        }

        .quick-view__vendor {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            font-size: 15px;
            padding: 10px 0 0 10px;
        }

        .quick-view__sku {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            font-size: 12px;
            padding: 0 0 0 10px;
        }

        .quick-view__price {
            grid-row: 3 / 4;
            grid-column: 1 / 2;
            font-size: 20px;
            margin: 0;
            padding: 0 0 0 10px;
        }

        .quick-view__title {
            grid-row: 4 / 5;
            grid-column: 1 / 2;
            font-size: 20px;
            line-height: 20px;
            margin: 0;
            padding: 0 0 0 10px;
        }

        .quick-view__description {
            grid-row: 5 / 6;
            grid-column: 1 / 3;
            font-size: 12px;
            margin: 0;
            padding: 0;
            text-align: justify;
            padding: 10px 10px 0 10px;
            overflow: scroll;
        }

        .quick-view__options {
            grid-row: 6 / 7;
            grid-column: 1 / 3;
            margin: 0;
            padding: 0 10px;
        }

        .quick-view__line {
            display: none;
        }
    }
</style>

<div id="quick-view" class="quick-view">
    <div class="quick-view__container">
        <button id="quickViewClose" class="quick-view__close">
            {% include 'icon-close' %}
        </button>
        <img id="quick-view__image" class="quick-view__image" src="">
        <div class="quick-view__info">
            <h7 class="quick-view__vendor"></h7>
            <p class="quick-view__sku"></p>
            <h3 class="quick-view__title"></h3>
            <hr class="quick-view__line">
            <p class="quick-view__price"></p>
            <p class="quick-view__description"></p>
            <hr class="quick-view__line">
            <div class="quick-view__options">
                <div class="quantity-selector">
                    <button id="qtySubtractBtn" class="quantity-selector__button">-</button>
                    <input id="qty" class="quantity-selector__input" type="text" value="1" />
                    <button id="qtyAddBtn" class="quantity-selector__button">+</button>
                </div>
                <button id="buyBtn" class="quick-view__buy-button" data-id="0">Add to Cart</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        const featuredProductButtons = $(".featured-products__item-button");
        const featuredProducts = $(".featured-product");
        const quickView = $("#quick-view");
        const overlay = $("#content-overlay");
        const qtyAddButton = $("#qtyAddBtn");
        const qtySubtractButton = $("#qtySubtractBtn");
        const buyBtn = $("#buyBtn");
        const quickViewClose = $(".quick-view__close");

        buyBtn.click(addToCart);
        qtyAddButton.click(addQuantity);
        qtySubtractButton.click(subtractQuantity);
        overlay.click(deactivateQuickView);
        featuredProductButtons.click(activateQuickView);
        featuredProducts.hover(scaleBtnUp, scaleBtnDown);
        quickViewClose.click(deactivateQuickView);

    })

    activateQuickView = function() {
        const quickView = $("#quick-view"),
            overlay = $("#content-overlay"),
            handle = this.dataset.handle;
        quickView.css({"visibility": "visible","opacity": "1"});
        overlay.css({"visibility": "visible", "opacity": "0.5"})
        getProductById(handle);
    }

    deactivateQuickView = function() {
        const quickView = $("#quick-view"),
            overlay = $("#content-overlay");
        quickView.css({"visibility": "hidden","opacity": "0"});
        overlay.css({"visibility": "hidden", "opacity": "0"})
    }

    scaleBtnUp = function() {
        $(this).find(".featured-products__item-button").css(
            {"transform": "translate(-50%, -50%) scale(1.2)",
             "visibility": "visible",
              "opacity": "1"
            }
        );
    }

    scaleBtnDown = function() {
        $(this).find(".featured-products__item-button").css(
            {
                "transform": "translate(-50%, -50%) scale(1)",
                "visibility": "hidden",
                "opacity": "0"
            }
        );
    }

    addToCart = function() {
        const id = $("#buyBtn").data("id"),
            qty = $("#qty").val(),
            qtyInt = parseInt(qty),
            payload = {quantity: qtyInt, id: id};
        addProductToCart(payload);
    }

    getProductById = function(handle) {
        const url = "/products/" + handle + ".js";
        const settings = {
            success: getProductSuccess,
            error: ajaxError,
            type: "GET",
        };
        $.ajax(url, settings);
    }

    addProductToCart = function(payload) {
        const url = "/cart/add.js";
        const settings = {
            data: payload,
            success: addedToCartSuccess,
            error: ajaxError,
            type: "POST",
        };
        $.ajax(url, settings);
    }

    getCart = function() {
        const url = "/cart.js";
        const settings = {
            success: getCartSuccess,
            error: ajaxError,
            type: "GET",
        };
        $.ajax(url, settings);
    }

    getCartSuccess = function(data) {
        const jsonData = JSON.parse(data);
        $(".ajax-cart__item-count").text(jsonData.item_count);
        $("#headerCartCount").text(jsonData.item_count);
        console.log(jsonData);
    }

    addedToCartSuccess = function(data) {
        const newData = JSON.parse(data);
        getCart();
    }

    getProductSuccess = function(data) {
        const jsonData = JSON.parse(data);
        const id = jsonData.variants[0].id,
            vendor = jsonData.vendor,
            sku = jsonData.variants[0].sku,
            title = jsonData.title,
            price = jsonData.price,
            description = jsonData.description,
            image = jsonData.featured_image.replace(".png", "_595x.png");
        console.log(id);
        $("#buyBtn").attr("data-id", id);
        $(".quick-view__vendor").text(vendor);
        $(".quick-view__sku").text(sku);
        $(".quick-view__price").text(price);
        $(".quick-view__title").text(title);
        $(".quick-view__description").text(description);
        $(".quick-view__image").attr("src", image);
    }

    ajaxError = function() {
        console.log("error");
    }

    addQuantity = function() {
        const qty = $("#qty").val();
        const newQty = parseInt(qty) + 1;
        $("#qty").val(newQty);
    }

    subtractQuantity = function() {
        const qty = $("#qty").val();
        if(qty > 1) {
            const newQty = parseInt(qty) - 1;
            $("#qty").val(newQty);
        }
    }
</script>