.banner {
    background-position: left 75%;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 3em);
    position: relative;

    &__content {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        padding: 0 54px 0 47px;
        max-width: 579px;
    }

    &__header {
        position: relative;
        font-size: 25px;
        line-height: 39px;
        color: #FFFFFF;
        margin: 0;
        font-weight: 500;
    }

    &__description {
        position: relative;
        font-style: italic;
        font-size: 15px;
        line-height: 30px;
        color: #FFFFFF;
        margin: 30px 0 0 0;
        font-weight: 300;
    }
}

@media only screen and (min-device-width : 375px) {


    .banner {

        &__content {
            top: 65%;
        }

        &__header {
            font-size: 29px;
        }

        &__description {
            font-size: 19px
        }

    }
}

@media only screen and (min-device-width : 1024px) {

    .banner {

        &__content {
            top: 48%;
            width: 579px;
        }

        &__header {
            font-size: 65px;
            line-height: 71px;
        }

    }

}