.featured-products {

    &__title {
        font-weight: 500;
        font-size: 25px;
        line-height: 31px;
        text-align: center;
        color: #29333F;
    }

    &__container {
        display: flex;
        overflow-x: scroll;
        height: auto;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
             width: 0 !important 
        }
    }

    &__item {
        position: relative;
        width: 320px;
        height: 390px;
        text-align: center;
        text-decoration: none;
    }

    &__item-image {
        width: 281px;
        margin: auto;
    }

    &__item-title {
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        text-align: center;
        color: #29333F;
        padding: 0 30px;
        margin: 30px 0 11px 0;
    }

    &__item-price {
        font-weight: 500;
        font-size: 19px;
        line-height: 24px;
        text-align: center;
        color: #565E68;
    }

    &__item-block,
    &__item-button {
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        background-color: #29333F;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 15px 20px;
        transition: all 0.2s ease-out;
        cursor: pointer;
        border: none;
        opacity: 1;
        visibility: visible;
    }

}

.featured-product {
    margin: 0 10px;
}

@media only screen and (min-device-width : 1024px) {

    .featured-products {

        &__container {
            display: flex;
            justify-content: space-between;
        }

        &__item-block,
        &__item-button {
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }

    }

}

@media only screen and (min-device-width : 1230px) {

    .featured-products__container {
        justify-content: center;
    }

}