@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.header {
    display: grid;
    grid-template-rows: 65px;
    grid-template-columns: auto auto;
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 12px rgba(22, 38, 51, 0.05);

    &__title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        z-index: 99;
        margin-left: 25px;
    }

    &__hamburger {
        z-index: 999;
        position: absolute;
        top: 20px;
        right: 24px;
        width: 25px;
        height:25px;
        opacity: 0;
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        &:checked + .menu {
            left: 0;
            visibility: visible;
            opacity: 1;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        padding-right: 25px;
    }

    &__cart {
        margin: 0 17px;
    }

}

.announcement {
    display: none;
    background-color: #29333F;
    height: 41px;

    &__text {
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }

}

.cart-count {
    position: absolute;
    background-color: black;
    padding: 9px;
    border-radius: 50%;
    bottom: 33px;
    right: 57px;
    z-index: 9999;

    &__number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
    }
}

.menu {
    display: grid;
    grid-template-rows: auto 170px;
    width: 100vw;
    height: calc(100vh - 65px);
    top: 65px;
    background-color: white;
    transition: all 0.2s ease-in-out;
    z-index: 99;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    grid-row: 1 / 2;
    position: fixed;

    &__list {
        grid-row: 1 / 2;
        margin: 0;
        padding: 0;
        list-style-type: none;
        background-color: white;
        overflow-y: scroll;
        transition: all 0.1s ease-in-out;
    }

    &__list-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 14px;
        color: #565E68;
        text-decoration: none;
        padding: 25px 0;
        margin: 0 7%;
        position: relative;
        border-bottom: 1px solid #E1E6EB;
        cursor: pointer;
    }

    &__list-item-container {
        display: flex;
        justify-content: space-between;

        & > svg {
            transform: rotate(0deg);
            transition: all 0.5s ease-out;

            &.active {
                transform: rotate(45deg);                
            }
        }
    }

    &__sub-list {
        visibility: hidden;
        opacity: 0;
        list-style-type: none;
        padding: 0;
        height: 0;

        &.active {
            visibility: visible;
            opacity: 1;
            height: auto;
        }
    }

    &__sub-list-item {
        padding: 7%;
        border-bottom: 1px solid #E1E6EB;
    }

    &__sub-link {
        text-decoration: none;
        color: #565E68;
        overflow: auto;
    }

    &__list-link {
        text-decoration: none;
        color: #565E68;
    }

    &__footer {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #29333F;
        color: white;
        grid-row: 2 / 3;
    }

    &__icons {
        display: flex;
        margin: 0;
        justify-content: center;
        position: relative;
        top: 15px;

        & svg {
            margin: 0 8px;           
        }
    }

    &__links {
        display: flex;
        margin: 0;
        justify-content: center;
    }

    &__contact {
        padding: 0 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 1.16667px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
    }

    &__login {
        padding: 0 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 12px;
        letter-spacing: 1.16667px;
        text-transform: uppercase;
        color: #FFFFFF;
        text-decoration: none;
    }

}

#MainContent {
    padding-top: 65px;
}

@media only screen and (min-device-width : 1360px) {

  .header {
    padding: 41px 60px 0 60px;
    grid-template-rows: 90px;
    grid-template-columns: auto auto auto;

    &__title {
        margin: 0;
    }

    &__hamburger {
        display: none;
    }

    &__hamburger {
        grid-column: 3 / 4;
    }

    &__buttons {
        grid-column: 3 / 4;
    }

  }

  .announcement {
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      z-index: 9999;
  }

  .cart-count {
    bottom: 47px;
    right: 57px;
  }

  .menu {
      width: auto;
      height: auto;
      grid-template-rows: 90px;
      top: 0;
      opacity: 0;
      grid-column: 2 / 4;
      position: relative;
      left: 0;
      visibility: visible;
      opacity: 1;

      &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow-y: hidden;
      }

      &__list-item {
        margin: 0;
        padding: 0;
        border: none;
        padding: 0 20px;
        display: flex;
        align-items: center;
        height: 100%;

        & svg {
            display: none;
        }
      }

      &__sub-list {
        max-height: none;
        background-color: white;
        position: fixed;
        top: 131px;
      }

      &__footer {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        background-color: #FFFFFF;
        color: #29333F;
    }

    &__links {
        order: 1
    }

    &__icons {
        top: 0;
        order: 2;

        & svg rect {
            fill: #29333F;
        }
    }

    &__login {
        color: #565E68;
    }

    &__contact {
        display: none;
    }

  }

  #MainContent {
      padding-top: 131px;
  }

}

@media(hover: hover) {
    .menu__list-item:hover > .menu__sub-list {
        visibility: visible;
        opacity: 1;
        height: auto;
      }
}